* {
    box-sizing: border-box
}
body {
    font-family: cambria;
    background-color: azure;
    font-size: large
}
.midden {
    left: 50%;
    transform: translate(-50%, 0)
}
.container-md ,.container{
    background-color: #addade;
    padding: 0px;
}

nav{
    margin: 0px;
    padding: 0px;
}
h1{
    font-weight: bold;
    text-align: center;
}
.fotomoto {
    max-width: 200px;
    margin-top: 10px;
}
.col-4 {
    width: 40%;
}
td {
    padding: 10px;
}
.accordion-item {
    background-color: aliceblue
}
@media screen and (max-width: 600px) {
    
    .col-4 {
        width: 60%;
    }
  }